nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 164, 255);
    padding: 10px 200px;
    border-bottom: 4px solid rgb(40, 219, 250);;
}
nav ul{
    display: flex;

}
nav ul li{
    list-style: none;
    margin: 10px 6px 0 6px;
    font-weight: 600;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    transition: .5s;
}
nav ul li a:hover{
    background-color: rgb(0, 127, 200);
    color: rgb(255, 207, 207);
    
}
nav div{
    color: white;
    font-size: 20px;
}
/*hero area code*/
header{
    background-image: url('images/background.jpg');
    padding: 300px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-parent i{
    color: royalblue;
    background-color: rgb(99, 227, 249);
    font-size: 25px;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: -10px;

}
div input{
    width: 400px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 20px;
    padding: 5px 20px;
}
/*main section code*/
main{
    background-color:  rgb(36, 167, 255);
    padding: 50px 0;
    color: white;
    
}
.video-section{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.video-section span{
    color:royalblue ;
    background-color: aliceblue;
    padding: 1px 4px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}